@import '../../_reset';
body {
  background: #FFF;
}

$c1: #2db9aa;
$c9:#999;
$c6:#666;
$lc:#ccc;
.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.head {
  &-tip {
    display: inline-block;
    float: left;
  }
  &-top {
    height: 32px;
    background: #f0f0f0;
    line-height: 32px;
    font-size: 12px;
    a {
      color: #666;
      padding: 0 5px;
      &:hover {
        text-decoration: underline
      }
    }
  }
  &-share {
    display: inline-block;
    float: right;
    a {
      margin-left: 5px;
    }
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 4px;
      width: 22px;
      height: 22px;
      background: url(../img/icon1.png) center center no-repeat;
      &.icon-2 {
        background-image: url(../img/icon4.png)
      }
      &.icon-3 {
        background-image: url(../img/icon3.png)
      }
    }
  }
  &-logo {
    height: 100px;
    .logo {
      float: left;
      margin-top: 12px;
    }
    .logo-txt {
      margin-top: 35px;
      display: inline-block;
      margin-left: 20px;
      float: left;
    }
    .head-tel {
      float: right;
      padding-left: 54px;
      margin-top: 28px;
      height: 50px;
      background: url(../img/tel.png) 0 center no-repeat;
      span {
        display: block;
        font-size: 20px;
        color: #333;
        &.num {
          font-weight: bold;
        }
      }
    }
  }
  &-nav {
    height: 60px;
    background: $c1;
    font-size: 0;
    li {
      display: inline-block;
      font-size: 0;
      position: relative;
      float: left;
      a {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        height: 60px;
        line-height: 60px;
        transition: .3s all;
        padding: 0 44px;
      }
      .erji {
        display: none;
        font-size: 16px;
      }
      &:hover {
        background: #fff;
        *background: #f0ffff;
        a {
          color: $c1;
        }
        .erji {
          position: absolute;
          border-top: 1px $c1 solid;
          z-index: 10000;
          top: 60px;
          left: 0;
          display: inline-block;
          background: #fff;
          a {
            color: $c9;
            height: 40px;
            line-height: 40px;
            &:hover {
              color: $c1;
            }
          }
        }
      }
    }
  }
}

.banner {
  height: 400px;
  background: #ccc;
}

.warp {
  margin-top: 20px;
}

.tip-ga {
  height: 58px;
  background: $c1;
  color: #fff;
  padding: 0 270px 0 300px;
  position: relative;
  .t {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 270px;
    height: 100%;
    background: url(../img/t1.jpg)
  }
  .btn-bm {
    display: inline-block;
    position: absolute;
    width: 195px;
    height: 100%;
    right: 0;
    top: 0;
    background: url(../img/btn.jpg)
  }
  .content {
    span {
      display: inline-block;
      height: 58px;
      line-height: 58px;
      font-size: 18px;
      width: 50%;
      overflow: hidden;
    }
  }
}

.com-title {
  font-size: 32px;
  color: #000;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    i.line {
      position: absolute;
      height: 2px;
      background: $c1;
      display: inline-block;
      width: 52px;
      bottom: 0;
      left: 50%;
      margin-left: -26px;
    }
  }
}

.fourTips {
  margin-top: 30px;
  text-align: center;
  .con {
    margin-top: 20px;
  }
  .item {
    display: inline-block;
    height: 240px;
    width: 255px;
    font-size: 0;
    margin: 0 15px;
    float: left;
    dt {
      width: 200px;
      height: 156px;
      display: inline-block;
    }
    dd {
      font-size: 14px;
      color: #333;
      height: 56px;
      line-height: 28px;
      overflow: hidden;
    }
    &.item-1 dt {
      background: url(../img/f1.png) center center no-repeat
    }
    &.item-2 dt {
      background: url(../img/f2.png) center center no-repeat
    }
    &.item-3 dt {
      background: url(../img/f3.png) center center no-repeat
    }
    &.item-4 dt {
      background: url(../img/f4.png) center center no-repeat
    }
  }
}

.bg1 {
  background: #f0f0f0;
  overflow: hidden;
}

.zj-team {
  padding: 20px 0 40px;
  *overflow: hidden;
  .item {
    font-size: 14px;
    color: #666;
    width: 590px;
    *width: 380px;
    overflow: hidden;
    height: 258px;
    background: #fff;
    margin-top: 20px;
    display: inline;
    float: left;
    position: relative;
    padding-left: 210px;
    box-shadow: 6px 6px 6px #ccc;
    .img {
      position: absolute;
      left: 0;
      top: 0;
    }
    .title {
      padding: 10px 20px;
      font-size: 30px;
      color: #000;
    }
    .txt {
      padding: 0 20px;
      line-height: 26px;
      height: 130px;
      overflow: hidden;
    }
    .btn {
      padding: 10px 20px;
      text-align: right;
      .seemore {
        width: 64px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        background: $c1;
        font-size: 14px;
        padding: 0;
        display: inline-block;
        cursor: pointer;
      }
    }
    &.item-2,
    &.item-4 {
      margin-left: 20px;
    }
  }
}

.studentShare {
  .con {
    margin-top: 20px;
  }
  .video-area {
    width: 552px;
    float: left;
    .video {
      width: 100%;
      height: 316px;
      box-shadow: 3px 3px 3px #ccc;
      background: #f1f1f1;
      .video-warp {
        height: 284px;
      }
      .video-title {
        text-align: center;
        color: #fff;
        background: $c1;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
      }
    }
    .video-txt {
      font-size: 16px;
      color: #000;
      line-height: 30px;
      height: 120px;
      overflow: hidden;
      padding: 0 10px;
      margin-top: 20px;
    }
  }
  .stu-list {
    float: right;
    width: 648px;
    .items {
      width: 310px;
      height: 230px;
      float: left;
      display: inline;
      margin: 0 0 20px 14px;
      .title {
        height: 32px;
        line-height: 32px;
        color: #fff;
        background: $c1;
        overflow: hidden;
        text-align: center;
      }
    }
  }
}

.about {
  padding: 20px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 36px;
  overflow: hidden;
  .img {
    float: left;
    width: 515px;
    height: 290px;
    border: 2px $c1 solid;
    border-radius: 2px;
  }
  .info {
    float: right;
    width: 620px;
    margin-right: 10px;
    .title {
      height: 60px;
      line-height: 60px;
      font-size: 32px;
      .seemore {
        float: right;
        display: inline-block;
        background: $c1;
        color: #fff;
        font-size: 14px;
        width: 64px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        text-align: center;
        margin-top: 14px;
      }
    }
    .txt {
      line-height: 24px;
      font-size: 14px;
      height: 220px;
      overflow: hidden;
      p {
        padding: 6px 0 10px;
      }
    }
  }
}

.news-area {
  .seemore {
    width: 60px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    background: $c1;
    font-size: 12px;
    display: inline-block;
  }
  padding: 30px 0 40px;
  .tab-area {
    float: left;
    height: 448px;
    width: 766px;
    border: 1px $lc solid;
    .tab-bar {
      height: 50px;
      a {
        display: inline-block;
        width: 140px;
        height: 50px;
        text-align: center;
        color: #000;
        line-height: 50px;
        font-size: 26px;
        margin-left: -1px;
        position: relative;
        top: -1px;
        transition: .3s all;
        &.cur,
        &:hover {
          color: #fff;
          background: $c1;
        }
      }
    }
    .tab-box {
      padding: 10px;
      .top-item {
        height: 182px;
        .img {
          height: 182px;
          width: 324px;
          float: left;
        }
        .con {
          width: 400px;
          height: 128px;
          float: right;
          font-size: 14px;
          color: $c6;
          line-height: 20px;
          .title {
            font-size: 20px;
            color: #000;
            display: block;
            height: 50px;
            line-height: 50px;
            &:hover {
              color: $c1;
            }
          }
          .txt {
            height: 80px;
            overflow: hidden;
          }
          .more {
            margin-top: 20px;
            text-align: right;
          }
        }
      }
      .line {
        overflow: hidden;
        clear: both;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        border-top: 1px #f0f0f0 solid;
      }
      ul {
        margin-top: 10px;
        li {
          a {
            display: block;
            height: 30px;
            line-height: 30px;
            position: relative;
            color: #000;
            span {
              position: relative;
              z-index: 2;
            }
            span.title {
              display: inline-block;
              height: 100%;
              background: #fff;
              padding-right: 10px;
            }
            span.data {
              float: right;
              padding-left: 10px;
              display: inline-block;
              height: 100%;
              background: #fff;
            }
            .line {
              position: absolute;
              z-index: 1;
              border-top: 1px #000 dashed;
              left: 0;
              top: 14px;
              display: block;
              margin: 0;
            }
            &:hover {
              color: $c1;
              .line {
                border-color: $c1;
              }
            }
          }
        }
      }
      .more {
        text-align: right;
        margin-top: 10px;
      }
    }
  }
  .online-form {
    width: 424px;
    float: right;
    height: 448px;
    border: 1px $lc solid;
    .title {
      height: 50px;
      line-height: 50px;
      font-size: 26px;
      color: #fff;
      background: $c1;
      margin-left: -1px;
      margin-top: -1px;
      padding: 0 15px;
    }
    .con {
      padding: 10px 15px;
      color: #000;
      font-size: 16px;
      input,
      textarea {
        border: 1px #cecece solid;
        border-radius: 2px;
      }
      .item {
        margin-top: 10px;
      }
      span {
        display: inline-block;
        &.t-title {
          width: 86px;
          float: left;
          vertical-align: top;
          height: 40px;
          line-height: 40px;
          text-align: right;
        }
        &.t-val {
          float: right;
          width: 290px;
          display: inline-block;
          label {
            display: inline-block;
            vertical-align: middle;
            line-height: 40px;
          }
          input[type='text'] {
            width: 280px;
            height: 40px;
            line-height: normal;
            padding: 0 4px;
          }
          textarea {
            width: 280px;
            line-height: 24px;
            padding: 0 4px;
          }
          .btn-submit {
            cursor: pointer;
            background: $c1;
            color: #fff;
            font-size: 20px;
            padding: 6px 36px;
            border: none;
            border-radius: 10px;
            margin-left: 70px;
          }
        }
      }
    }
  }
}

//- 底部
.foot {
  .foot-nav {}
}