extends ./shade/layout
block content
  //- banner
  .banner

  //- 主体
  .warp.w1200
    //- 立即报名
    .tip-ga
      span.t
      .content
        span.item 第四期 钟表鉴定估价班 3月21日
        span.item 第四期 钟表鉴定估价班 3月21日
      a.btn.btn-bm(href="#",title="立即报名") 

    //- 四大优势
    .fourTips
      .com-title 
        span 四大优势
          i.line
      .con.clearfix
        dl.item.item-1
          dt
          dd.
            中南典当学院拥有先进的
            硬件设施和顶尖的师资团队

        dl.item.item-2
          dt
          dd.
            创新的教学方式，结合数万个实
            践操作案例，将理论与实践深层挖掘

        dl.item.item-3
          dt
          dd.
            针对特别操作及认识误区进行量体裁衣，
            一对一解决，让学员真正了解，快速上手

        dl.item.item-4
          dt
          dd.
            鉴定、估价、维修、保养、经营、实习为
            一体的综合性培训机构，科目齐全，教学多样

    //- 专家讲师团
  .bg1
    .warp.w1200
      .zj-team
        .com-title 
          span 专家讲师团
            i.line
        .con.clearfix
          .item.item-1
            .img
              img(src="img/u1.jpg", alt="")
            .con
              .title 徐步天
              .txt.
                中南典当学院钟表类首席讲师、<br>
                中国钟表协会专业培训组组长、<br>
                中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                年代等资料

              .btn
                a.btn.seemore 查询信息
          .item.item-2
            .img
              img(src="img/u2.jpg", alt="")
            .title 雷雨春
            .txt.
              中国商业联合会洗染专家委员会理事、<br>
              浙江省洗染行业协会常务理事、<br>
              浙江省洗染服务消费鉴定委员会专家<br>
              名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
              顾问了解各大品牌的设计理念等资料


            .btn
              a.btn.seemore 查询信息
          .item.item-3
            .img
                img(src="img/u3.jpg", alt="")
            .title 李旸
            .txt.
              中南典当学院钟表类首席讲师、<br>
              中国钟表协会专业培训组组长、<br>
              中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
              名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
              年代等资料


            .btn
              a.btn.seemore 查询信息
          .item.item-4
            .img
                img(src="img/u4.jpg", alt="")
            .title 李嘉杰
            .txt.
              中国商业联合会洗染专家委员会理事、<br>
              浙江省洗染行业协会常务理事、<br>
              浙江省洗染服务消费鉴定委员会专家<br>
              名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
              顾问了解各大品牌的设计理念等资料


            .btn
              a.btn.seemore 查询信息

  .warp.w1200
    //- 学员分享
    .studentShare
      .com-title 
        span 学员分享
          i.line
      .con.clearfix
        .video-area
          .video
            .video-warp
            .video-title 中南典当学院第一期  
          .video-txt.
            商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
            保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
            商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
            保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
        .stu-list.clearfix
          .items.items-1
            .img
              img(src="img/s1.jpg", alt="")
            .title.ellipsis 百达翡丽鉴定
          .items.items-2
            .img
              img(src="img/s2.jpg", alt="")
            .title.ellipsis 百达翡丽鉴定
          .items.items-3
            .img
              img(src="img/s3.jpg", alt="")
            .title.ellipsis 百达翡丽鉴定
          .items.items-4
            .img
              img(src="img/s4.jpg", alt="")
            .title.ellipsis 百达翡丽鉴定

    //- 精品课程
  .bg1
    .warp.w1200
      .jp-class
        .com-title 
          span 精品课程
            i.line
        .con
          .owl-carousel.owl-theme
            .item
              a(href="#")
              
  .warp.w1200
    //- 往期回顾
    .history
      .com-title 
        span 往期回顾
          i.line
  .bg1
    .warp.w1200
      //- 中南典当学院
      .about
        .img
        .info
          .title
            span 中南典当学院
            a.btn.seemore 更多 >
          .txt
            p.
              中南典当学院 是在各省市典当行业协会的鼎力支持下，由深圳市点当圈科技有限公司、深圳市点当圈文化传播有限公司创立的一家着眼于典当行业、拍卖行业、寄卖行业、奢侈品行业以行业文化、教育为主要研究方向的产学研结合的研究机构。
            p.
              学院与湖南商学院开展校企合作设立湖南商学院产学研实验实习基地，为行业培养和输送专业技术人才. 学院总部位于美丽的滨海城市全国珠宝集散地--深圳，教学场地为深圳市布吉268文化创意产业园。
  .warp.w1200    
    //- 公司新闻
    .news-area
      //- tab区域
      .tab-area
        .tab-bar
          a(href="javascript:void(0);") 公司新闻
          a(href="javascript:void(0);") 行业动态
        .tab-box
          .top-item
            .img
            .con
              .title
              .txt
          ul
            li
              a.title
              span.data
          .more
            a.btn.seemore(href="#") 更多 >
      //- 在线报名
      .online-form
        .title 在线报名
        .con
          form(action="/")
            .item 
              span.t-title 课程
              span.t-val
                label
                  input(type="radio") 
                  |钟表
                label
                  input(type="radio") 
                  |名包
            
            .item
              span.t-title 联系人
              span.t-val
                input(type="text")
            .item
              span.t-title 联系电话
              span.t-val
                input(type="text")
            .item
              span.t-title 客户留言
              span.t-val
                textarea(name="", cols="30", rows="10")  
            .item
              span.t-title
              span.t-val
                input(type="submit", value="提交报名")  


