extends ./shade/layout
block content
  //- banner
  .banner#dgd-ad      
    //- div.slider.slide-1
    //-   ul.slider-content(style="left:0")
    //-     each item in [1,2,3]
    //-       li
    //-         a(href="#")
    //-           img(src="img/banner.jpg", alt="")
      .btns
  //- 主体
  .warp
    .w1200
      //- 立即报名
      .tip-ga
        span.t
        .content
          span.item 第四期 钟表鉴定估价班 3月21日
          span.item 第四期 钟表鉴定估价班 3月21日
        a.btn.btn-bm(href="#",title="立即报名") 

      //- 四大优势
      .fourTips
        .com-title 
          span 四大优势
            i.line
        .con.clearfix
          dl.item.item-1
            dt
            dd.
              中南典当学院拥有先进的
              硬件设施和顶尖的师资团队

          dl.item.item-2
            dt
            dd.
              创新的教学方式，结合数万个实
              践操作案例，将理论与实践深层挖掘

          dl.item.item-3
            dt
            dd.
              针对特别操作及认识误区进行量体裁衣，
              一对一解决，让学员真正了解，快速上手

          dl.item.item-4
            dt
            dd.
              鉴定、估价、维修、保养、经营、实习为
              一体的综合性培训机构，科目齐全，教学多样

      //- 专家讲师团
    .bg1
      .warp.w1200
        .zj-team
          .com-title 
            span 专家讲师团
              i.line
          .con.clearfix
            .item.item-1
              .img
                img(src="img/u1.jpg", alt="")
              .con
                .title 徐步天
                .txt.
                  中南典当学院钟表类首席讲师、<br>
                  中国钟表协会专业培训组组长、<br>
                  中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                  名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                  年代等资料

                .btn
                  a.btn.seemore 查询信息
            .item.item-2
              .img
                img(src="img/u2.jpg", alt="")
              .title 雷雨春
              .txt.
                中国商业联合会洗染专家委员会理事、<br>
                浙江省洗染行业协会常务理事、<br>
                浙江省洗染服务消费鉴定委员会专家<br>
                名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
                顾问了解各大品牌的设计理念等资料


              .btn
                a.btn.seemore 查询信息
            .item.item-3
              .img
                  img(src="img/u3.jpg", alt="")
              .title 李旸
              .txt.
                中南典当学院钟表类首席讲师、<br>
                中国钟表协会专业培训组组长、<br>
                中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                年代等资料


              .btn
                a.btn.seemore 查询信息
            .item.item-4
              .img
                  img(src="img/u4.jpg", alt="")
              .title 李嘉杰
              .txt.
                中国商业联合会洗染专家委员会理事、<br>
                浙江省洗染行业协会常务理事、<br>
                浙江省洗染服务消费鉴定委员会专家<br>
                名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
                顾问了解各大品牌的设计理念等资料


              .btn
                a.btn.seemore 查询信息

    .warp.w1200
      //- 学员分享
      .studentShare
        .com-title 
          span 学员分享
            i.line
        .con.clearfix
          .video-area
            .video
              .video-warp
                <embed src='http://player.youku.com/player.php/sid/XMjY0MjA5OTYwMA==/v.swf' allowFullScreen='true' quality='high' width='552' height='284' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
              .video-title 中南典当学院第一期  
            .video-txt.
              商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
              保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
              商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
              保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
          .stu-list.clearfix
            .items.items-1
              .img
                img(src="img/s1.jpg", alt="")
              .title.ellipsis 百达翡丽鉴定
            .items.items-2
              .img
                img(src="img/s2.jpg", alt="")
              .title.ellipsis 百达翡丽鉴定
            .items.items-3
              .img
                img(src="img/s3.jpg", alt="")
              .title.ellipsis 百达翡丽鉴定
            .items.items-4
              .img
                img(src="img/s4.jpg", alt="")
              .title.ellipsis 百达翡丽鉴定

      //- 精品课程
    .bg1
      .warp.w1200
        .jp-class
          .com-title 
            span 精品课程
              i.line
          .con.slide-warp.clearfix
            span.prev-btn
            span.next-btn
            .slide-content
              .slide-con.clearfix(style="width:3000px")
                .item
                  a(href="#")
                    .title.ellipsis 钟表鉴定精英班
                    .img
                      img(src="img/l1.jpg", alt="")
                      .txt
                        .txt-con.
                          针对各大品牌钟表鉴定，高效快速的将学生
                          从初级的认识到专家级的飞跃.课程采取高清
                          大图国内首屈一指的名师授课
                      .mark

                .item
                  a(href="#")
                    .title.ellipsis 名包鉴定精英班
                    .img
                      img(src="img/l2.jpg", alt="")
                      .txt
                        .txt-con.
                          针对各大品牌钟表鉴定，高效快速的将学生
                          从初级的认识到专家级的飞跃.课程采取高清
                          大图国内首屈一指的名师授课
                      .mark
                .item
                  a(href="#")
                    .title.ellipsis 二手车鉴定评估班课程
                    .img
                      img(src="img/l3.jpg", alt="")
                      .txt
                        .txt-con.
                          针对各大品牌钟表鉴定，高效快速的将学生
                          从初级的认识到专家级的飞跃.课程采取高清
                          大图国内首屈一指的名师授课
                      .mark
                
    .w1200
      //- 往期回顾
      .history
        .com-title 
          span 往期回顾
            i.line
        .con.slide-warp.clearfix
          span.prev-btn
          span.next-btn
          .slide-content
            .slide-con.clearfix(style="width:3000px")
              .item
                img(src="img/b1.jpg", alt="")
              .item
                img(src="img/b2.jpg", alt="")
              .item
                img(src="img/b3.jpg", alt="")
              .item
                img(src="img/b4.jpg", alt="")
    .bg1
      .warp.w1200
        //- 中南典当学院
        .about.clearfix
          .img
            img(src="img/i1.jpg", alt="中南典当学院")
          .info
            .title
              span 中南典当学院
              a.btn.seemore 更多 >
            .txt
              p.
                中南典当学院 是在各省市典当行业协会的鼎力支持下，由深圳市点当圈科技有限公司、深圳市点当圈文化传播有限公司创立的一家着眼于典当行业、拍卖行业、寄卖行业、奢侈品行业以行业文化、教育为主要研究方向的产学研结合的研究机构。
              p.
                学院与湖南商学院开展校企合作设立湖南商学院产学研实验实习基地，为行业培养和输送专业技术人才. 学院总部位于美丽的滨海城市全国珠宝集散地--深圳，教学场地为深圳市布吉268文化创意产业园。
    .w1200    
      //- 公司新闻
      .news-area.clearfix
        //- tab区域
        .tab-area
          .tab-bar
            a(href="javascript:void(0);").cur 公司新闻
            a(href="javascript:void(0);") 行业动态
          .tab-box(style="display:block")
            .top-item.clearfix
              .img
                a(href="#")
                  img(src="img/info.jpg", alt="")
              .con
                a(href="#").title.ellipsis 广东省广州市典当协会会长来我院指导工作
                .txt.
                  中南典当学院 是在各省市典当行业协会的鼎力支持下，由深圳市
                  点当圈科技有限公司、深圳市点当圈文化传播有限公司创立的一
                  家着眼于典当行业、拍卖行业、寄卖行业、奢侈品行业以行业文
                  化、教育为主要研究方向的产学研结合的研.
                .more
                  a.btn.seemore(href="#") 更多 >
            .line
            ul
              each item in [1,2,3,4]
                li
                  a 
                    span.title  中南典当学院(以下简称学院)是在各省市典当行业协会
                    span.data 2017-02-03
                    i.line
            .more
              a.btn.seemore(href="#") 更多 >
          .tab-box
            .top-item.clearfix
              .img
                a(href="#")
                  img(src="img/info.jpg", alt="")
              .con
                a(href="#").title.ellipsis 行业动态 --广东省广州市典当协会会长来我院指导工作
                .txt.
                  中南典当学院 是在各省市典当行业协会的鼎力支持下，由深圳市
                  点当圈科技有限公司、深圳市点当圈文化传播有限公司创立的一
                  家着眼于典当行业、拍卖行业、寄卖行业、奢侈品行业以行业文
                  化、教育为主要研究方向的产学研结合的研.
                .more
                  a.btn.seemore(href="#") 更多 >
            .line
            ul
              each item in [1,2,3,4]
                li
                  a 
                    span.title 行业动态 --中南典当学院(以下简称学院)是在各省市典当行业协会
                    span.data 2017-02-03
                    i.line
            .more
              a.btn.seemore(href="#") 更多 >
        //- 在线报名
        .online-form
          .title 
            span 在线报名
          .con
            form(action="/")
              .item.clearfix 
                span.t-title 课程
                span.t-val
                  label
                    input(name="type" type="radio") 
                    |钟表
                  label
                    input(name="type" type="radio") 
                    |名包
              
              .item.clearfix
                span.t-title 联系人
                span.t-val
                  input(type="text")
              .item.clearfix
                span.t-title 联系电话
                span.t-val
                  input(type="text")
              .item.clearfix
                span.t-title 客户留言
                span.t-val
                  textarea(name="", rows="5")  
              .item.clearfix
                span.t-title
                span.t-val
                  input.btn-submit(type="submit", value="提交报名")  


   
   

  
      

    