extends ./shade/layout
block content
  .banner#dgd-ad 


  //- 主体
  .warp
    .w1200
      .tip-ga
        span.t
        .content
          span.item 第四期 钟表鉴定估价班 3月21日
          span.item 第四期 钟表鉴定估价班 3月21日
        a.btn.btn-bm(href="#",title="立即报名") 


      .colleg-nav
        span 当前位置：
        a(href="/") 首页
        |>
        a(href="/") 关于我们
        |>
        span.cur 发展历程
      .contaier.clearfix
        .main.studentShareList.timeline
          .timeline-box
            .items
              span.year 2017年
              ul
                li.clearfix
                  span.time 近期   
                  span.t-t 中南典当学院计划携手深圳残联，给残疾人创建公益性有偿工作就业学习平台！
                li.clearfix
                  span.time 2月21日   
                  span.t-t 中南典当学院第三期钟表名包鉴定估价精英班开课。
            .items
              span.year 2016年
              ul
                li.clearfix
                  span.time 12月15日   
                  span.t-t 中南典当学院华东分院（杭州）首期钟表、名包鉴评班开班
                li.clearfix
                  span.time 12月13日    
                  span.t-t 与浙江省典当行业协会、广州市典当行业协会共同举办了“民品鉴定评估技 术与经营管理”培训交流会。 
                li.clearfix
                  span.time 11月22日     
                  span.t-t 中南典当学院第二期钟表、名包鉴评班开班；
                li.clearfix
                  span.time 11月初      
                  span.t-t 与杭州安洁利奢侈品管家达成联合办学协议，创办中南典当学院华东分院； 
                li.clearfix
                  span.time 10月23日      
                  span.t-t 学院与湖南交通职业技术学院达成校企合作协议，增设国家二手汽车评估鉴 定师考证班(三级、四级)；
                li.clearfix
                  span.time 10月18日      
                  span.t-t  定师考学院与国家珠宝玉石培训中心达成联合办学协议，增设NGTC钻石分级考证班；
                li.clearfix
                  span.time 10月10日      
                  span.t-t  中南典当学院第一期钟表、名包鉴评班开班;
             .items
              span.year 起点
              ul
                li.clearfix
                  span.time 2016年8月   
                  span.t-t 中南典当学院筹备组成立


          

        .side
          .side-box.side-category
            .title 
              i.line
              span 关于我们
            .con
              a(href="#").cur 
                i.icon
                |学院介绍  
              a(href="#") 
                i.icon
                |发展历程
              a(href="#") 
                i.icon
                |联系我们
          .side-box.jb-teacher.mt20
            img(src="img/jb-teacher.jpg", alt="")
            .title 金牌讲师徐步天

    
