extends ./shade/layout
block content
  .banner#dgd-ad 


  //- 主体
  .warp
    .w1200
      .tip-ga
        span.t
        .content
          span.item 第四期 钟表鉴定估价班 3月21日
          span.item 第四期 钟表鉴定估价班 3月21日
        a.btn.btn-bm(href="#",title="立即报名") 

      .five-box.four-box.mt20
        .com-title 
          span 四大优势
            i.line
        .con
          .item.item-1 案例多
          .item.item-2 对比多
          .item.item-3 解剖图独一无二 
          .item.item-4 估价系统详细 
          
          .txt.txt-1.
            LV路易威登、Balenciaga巴黎世家、<br>
            HERMES爱马仕、CHANEL香奈儿、<br>
            PRADA普拉达等奢侈品包包案例全面讲解分析。
          .txt.txt-2.
            各大品牌包包鉴定分析和估价以及各大<br>
            品牌包包真假鉴定对比。


          .txt.txt-3.
            不同品牌名包有不同鉴定要点、我们的解<br>
            剖图都是独一无二的。

          .txt.txt-4.
            各大品牌的二手包包估价要点、<br>
            成色、品相等准则详细分析讲解。


    .bg1
        .warp.w1200
          //-课程大纲
          .class-dir
            .com-title
              span 课程大纲
                i.line  
            .con
              table(cellspacing='0',cellpadding='0')
                thead
                  tr
                    th 课时
                    th 课程内容
                    th 细节解说
                tbody
                  tr
                    td.t-t(rowspan='2', width="220") 第一天
                    td.t-t(width="340") 奢侈品鉴定技巧切入点、鉴定元素分析解说
                    td 鉴赏汇开课简单仪式、奢侈品鉴定通法、打开鉴定学习窗口、秒杀7成以上的仿品 
                  tr
                    td.t-t LV路易威登鉴定全面讲解分析
                    td LV经典款鉴定要害、鉴定规则和爆款鉴定估价、分析对比讲解真假对比案例、让学员身 临其境学习和摸索、现场实践训练。
                  tr.yellow
                    td.t-t(rowspan='4') 第二天
                    td.t-t 奢侈品翻新后的鉴定和估价
                    td 独特学习和了解翻新后奢侈品鉴定法和估
                  tr.yellow
                    td.t-t Balenciaga巴黎世家鉴定全面讲解分析
                    td 巴黎世家鉴定技巧/秒杀仿品/巴黎世家系列分析估价/实物实战训练/手把手教会学员
                  tr.yellow
                    td.t-t 实战训练+估价体系
                    td 破解巴黎世家迷局
                  tr.yellow
                    td.t-t HERMES爱马仕鉴定全面讲解分析
                    td 爱马仕鉴定核心分析和实物实战训练、爱马仕专题内训资料分享、爱马仕鉴定全方位分 享解说
                  tr.gray
                    td.t-t(rowspan='4') 第三天
                    td.t-t HERMES爱马仕现场鉴定分析
                    td 重点分析经典款定价体系和详细分析爱马仕护理技巧，规避没有必要的风险承担。 
                  tr.gray
                    td.t-t CHANEL香奈儿鉴定全面讲解分析
                    td 学员学习进度入门考验考核、香奈儿鉴定法则分析、市面流通超高仿和套码分析破解、 手表卖家分享买卖经验、鉴定常识 
                  tr.gray
                    td.t-t PRADA普拉达鉴定分析和估价
                    td PRADA鉴定分析和估价、PRADA普拉达高仿系列分析和实物实战训练

                  tr.gray
                    td.t-t 经营经验交流会 
                    td 名品销售营销技巧（如何经营业务、包装、推广等）+学员经营难题重点讨论
                  
                  tr.black
                    td.t-t(rowspan='3') 第四天
                    td.t-t 各大品牌鉴定分析和估价系统分析、 面对面给您分析讲解和结业后的学习任务。 
                    td 迪奥 Bv系列分古驰、巴宝莉 COACH、小猪包等各大品牌鉴定分析和估价准则总结分析！
                  tr.black
                    td.t-t 各大品牌总结考试 
                    td 结业考试，合影留念。 

    
    .warp.w1200
      .zj-team
        .com-title 
          span 专家讲师团
            i.line
        .con.clearfix
          .item.item-1
            .img
              img(src="img/u1.jpg", alt="")
            .con
              .title 徐步天
              .txt.
                中南典当学院钟表类首席讲师、<br>
                中国钟表协会专业培训组组长、<br>
                中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                年代等资料

              .btn
                a.btn.seemore 查询信息
          .item.item-2
            .img
              img(src="img/u2.jpg", alt="")
            .title 雷雨春
            .txt.
              中国商业联合会洗染专家委员会理事、<br>
              浙江省洗染行业协会常务理事、<br>
              浙江省洗染服务消费鉴定委员会专家<br>
              名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
              顾问了解各大品牌的设计理念等资料


            .btn
              a.btn.seemore 查询信息
          .item.item-3
            .img
                img(src="img/u3.jpg", alt="")
            .title 李旸
            .txt.
              中南典当学院钟表类首席讲师、<br>
              中国钟表协会专业培训组组长、<br>
              中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
              名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
              年代等资料


            .btn
              a.btn.seemore 查询信息
          .item.item-4
            .img
                img(src="img/u4.jpg", alt="")
            .title 李嘉杰
            .txt.
              中国商业联合会洗染专家委员会理事、<br>
              浙江省洗染行业协会常务理事、<br>
              浙江省洗染服务消费鉴定委员会专家<br>
              名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
              顾问了解各大品牌的设计理念等资料


            .btn
              a.btn.seemore 查询信息
    .bg1           
      .warp.w1200
        //- 学员分享
        .studentShare
          .com-title 
            span 学员分享
              i.line
          .con.clearfix
            .video-area
              .video
                .video-warp
                  <embed src='http://player.youku.com/player.php/sid/XMjY0MjA5OTYwMA==/v.swf' allowFullScreen='true' quality='high' width='552' height='284' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
                .video-title 中南典当学院第一期  
              .video-txt.
                商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
                保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
                商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
                保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
            .stu-list.clearfix
              .items.items-1
                .img
                  img(src="img/s1.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定
              .items.items-2
                .img
                  img(src="img/s2.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定
              .items.items-3
                .img
                  img(src="img/s3.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定
              .items.items-4
                .img
                  img(src="img/s4.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定

    .w1200
      //- 往期回顾
      .history
        .com-title 
          span 往期回顾
            i.line
        .con.slide-warp.clearfix
          span.prev-btn
          span.next-btn
          .slide-content
            .slide-con.clearfix(style="width:3000px")
              .item
                img(src="img/b1.jpg", alt="")
              .item
                img(src="img/b2.jpg", alt="")
              .item
                img(src="img/b3.jpg", alt="")
              .item
                img(src="img/b4.jpg", alt="")

      //- 报名
      .baoming.mt20
        form(action="/")
          label 姓名：
          input(type="text").inp-txt
          label 手机：
          input(type="text").inp-txt
          input(type="submit", value="").btn-sb
