extends ./shade/layout
block content
  .banner#dgd-ad 


  //- 主体
  .warp
    .w1200
      .tip-ga
        span.t
        .content
          span.item 第四期 钟表鉴定估价班 3月21日
          span.item 第四期 钟表鉴定估价班 3月21日
        a.btn.btn-bm(href="#",title="立即报名") 

      .five-box.mt20
        .com-title 
          span 五大优势
            i.line
        .con
          .item.item-1 统一自编教材
          .item.item-2 案例细节分析
          .item.item-3 名师手把手教学
          .item.item-4 教学用具齐全
          .item.item-5 鉴定实操练习 
          
          .txt.txt-1.
            人手一本《钟表鉴评实用教材》 <br>
            《名表二手流通价格参考表》;
          .txt.txt-2.
            多款钟表案例细节图对比分析讲解

          .txt.txt-3.
            名师授课，手把手教授多款名表拆 <br>
            卸、鉴定要素、鉴定拍照等

          .txt.txt-4.
            设操作台、显微镜、放大镜、验金石、 <br>
            奢侈品专用灯(标准色温研究级)、手表零 <br>
            部件全套、名表真假系列大全、名包真
            假系列大全等。

          .txt.txt-5.
            训练鉴定细节拍照技巧、实操鉴 <br>
            定手表的真实度、原装度、成色 <br>
            品相等，细节上剖析实物鉴定点。

    .bg1
        .warp.w1200
          //-课程大纲
          .class-dir
            .com-title
              span 课程大纲
                i.line  
            .con
              table(cellspacing='0',cellpadding='0')
                thead
                  tr
                    th 课时
                    th 课程内容
                    th 细节解说
                tbody
                  tr
                    td.t-t(rowspan='4', width="220") 钟表基础知识
                    td.t-t(width="340") 钟表鉴定评估导论
                    td 学习名表鉴定的意义是什么；如何定义名表，与钟表价值有关的一些因素 
                  tr
                    td.t-t 钟表简史、钟表基础结构及运行原理
                    td 世界钟表简史，帮助我们对钟表行业有个初步认识；钟表的运行原理，手表外观的基本 结构、机芯的基本结构 
                  tr
                    td.t-t 钟表的年代判断、现代钟表的主要材料
                    td 钟表的年代判断、现代钟表的主要材料
                  tr
                    td.t-t 常用机芯讲解：ETA、FP及部分自家芯
                    td 常用机芯讲解：ETA、FP及部分自家芯
                  tr.yellow
                    td.t-t(rowspan='2') 常见机芯精讲
                    td.t-t 常见机芯精讲1
                    td 常见机芯详解、图片、实物分析
                  tr.yellow
                    td.t-t 常见机芯精讲2及鉴定辅助工具详解
                    td 常见机芯详解、图片、实物分析，鉴定辅助工具的使用
                  tr.gray
                    td.t-t(rowspan='4') 名表鉴定
                    td.t-t 钟表鉴定概论
                    td 我们对原装及仿制钟表的定义；钟表鉴定概述，从何入手、综合因素、得出结论，基本 流程；原装名表的基本特征：标准、工艺、完工度 
                  tr.gray
                    td.t-t 钟表鉴定环节及常见仿表分析
                    td 鉴定的主要环节有哪些外壳、表盘、指针、机芯、表带、其他环节；市场常见仿表分析 
                  tr.gray
                    td.t-t 钟表高级评测及主流品牌鉴定要诀
                    td 从哪些方面识别钟表的原装度;钟表运行的功能测试、基本故障检测；主流品牌的鉴定要诀简介

                  tr.gray
                    td.t-t 钟表品相评估
                    td 手表品相评估、鉴定设备介绍
                  
                  tr.black
                    td.t-t(rowspan='3') 鉴定实操练习
                    td.t-t 剖析25枚简单款式手表
                    td 准备25枚简单款式手表进行讲解分析；授课教师先进行分解讲析，包括真实度、原装度、 成色品相、大致估价；讲述方法论；继续讲解；请
                  tr.black
                    td.t-t 剖析25枚复杂款式手表
                    td 准备25枚较复杂类型手表进行讲解分析
                  tr.black
                    td.t-t 各品牌钟表的实际检验流程
                    td 主要是品牌表的实际检验流程，教学员怎么看、看哪些。
                  tr.h-black
                    td.t-t(rowspan='2') 钟表的价值分析和价格评估
                    td.t-t 钟表估价概述
                    td 影响价值评估的主要因素：品牌、系列、市场认可度、市场流通情况、拍卖行情、定价、 品相等；当前主流品牌的大致估价原则；特殊情况
                  tr.h-black
                    td.t-t 结业考试
                    td.t-t 结业考试

    
    .warp.w1200
      .zj-team
        .com-title 
          span 专家讲师团
            i.line
        .con.clearfix
          .item.item-1
            .img
              img(src="img/u1.jpg", alt="")
            .con
              .title 徐步天
              .txt.
                中南典当学院钟表类首席讲师、<br>
                中国钟表协会专业培训组组长、<br>
                中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                年代等资料

              .btn
                a.btn.seemore 查询信息
          .item.item-2
            .img
              img(src="img/u2.jpg", alt="")
            .title 雷雨春
            .txt.
              中国商业联合会洗染专家委员会理事、<br>
              浙江省洗染行业协会常务理事、<br>
              浙江省洗染服务消费鉴定委员会专家<br>
              名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
              顾问了解各大品牌的设计理念等资料


            .btn
              a.btn.seemore 查询信息
          .item.item-3
            .img
                img(src="img/u3.jpg", alt="")
            .title 李旸
            .txt.
              中南典当学院钟表类首席讲师、<br>
              中国钟表协会专业培训组组长、<br>
              中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
              名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
              年代等资料


            .btn
              a.btn.seemore 查询信息
          .item.item-4
            .img
                img(src="img/u4.jpg", alt="")
            .title 李嘉杰
            .txt.
              中国商业联合会洗染专家委员会理事、<br>
              浙江省洗染行业协会常务理事、<br>
              浙江省洗染服务消费鉴定委员会专家<br>
              名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
              顾问了解各大品牌的设计理念等资料


            .btn
              a.btn.seemore 查询信息
    .bg1           
      .warp.w1200
        //- 学员分享
        .studentShare
          .com-title 
            span 学员分享
              i.line
          .con.clearfix
            .video-area
              .video
                .video-warp
                  <embed src='http://player.youku.com/player.php/sid/XMjY0MjA5OTYwMA==/v.swf' allowFullScreen='true' quality='high' width='552' height='284' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
                .video-title 中南典当学院第一期  
              .video-txt.
                商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
                保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
                商学院主要以世界高端名表、名包、钻石、金铂金等的鉴定、估价、维修、
                保养、经营、实习为一体的综合性培训机构，科目齐全，教学多样
            .stu-list.clearfix
              .items.items-1
                .img
                  img(src="img/s1.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定
              .items.items-2
                .img
                  img(src="img/s2.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定
              .items.items-3
                .img
                  img(src="img/s3.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定
              .items.items-4
                .img
                  img(src="img/s4.jpg", alt="")
                .title.ellipsis 百达翡丽鉴定

    .w1200
      //- 往期回顾
      .history
        .com-title 
          span 往期回顾
            i.line
        .con.slide-warp.clearfix
          span.prev-btn
          span.next-btn
          .slide-content
            .slide-con.clearfix(style="width:3000px")
              .item
                img(src="img/b1.jpg", alt="")
              .item
                img(src="img/b2.jpg", alt="")
              .item
                img(src="img/b3.jpg", alt="")
              .item
                img(src="img/b4.jpg", alt="")

      //- 报名
      .baoming.mt20
        form(action="/")
          label 姓名：
          input(type="text").inp-txt
          label 手机：
          input(type="text").inp-txt
          input(type="submit", value="").btn-sb
