extends ./shade/layout
block content
  .banner#dgd-ad 


  //- 主体
  .warp
    .w1200
      //- 立即报名
      .tip-ga
        span.t
        .content
          span.item 第四期 钟表鉴定估价班 3月21日
          span.item 第四期 钟表鉴定估价班 3月21日
        a.btn.btn-bm(href="#",title="立即报名") 
      
      //- 学院介绍
      .colleg-info
        .com-title1
          i.sline
          span 学院介绍
        .con
          .top-box.clearfix
            .txt
              p
                span.title 学院办学特色：
                |名师授课、终生免费复训、课程案例多、侧重上手实训操作。名师课程全程录制视频，学员可下载典当圈在线观看。专业优势突出、素质教育特色鲜明、中国第一家专业奢侈品鉴定培训中心，典当行的黄埔军校。
              p
                span.title 统一自编教材：
                |统一自编教材，人手一本《钟表鉴评实用教材》《名表二手流通价格参考表》
              p
                span.title 教学场地：
                |学院坐落在美丽的滨海城市、全国珠宝集散地深圳，教学场地约1000平米，设有办公区、教室、花园、厨房及休闲娱乐设施，个性化设计。
            .video
              <embed src='http://player.youku.com/player.php/sid/XMjY0MjA5OTYwMA==/v.swf' allowFullScreen='true' quality='high' width='464' height='264' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
          ul.img-list.clearfix
            li(style="margin-left:0")
              img(src="img/p1.jpg", alt="")
            li
              img(src="img/p2.jpg", alt="")
            li
              img(src="img/p3.jpg", alt="")
            li
              img(src="img/p4.jpg", alt="")
          p.tips
            span.title 丰富的教学用具：
            |设操作台、显微镜、放大镜、验金石、奢侈品专用灯(标准色温研究级)、手表零部件全套、名表真假系列大全、名包真假系列大全等
          ul.img-list
            li(style="margin-left:0")
              img(src="img/p5.jpg", alt="")
            li
              img(src="img/p6.jpg", alt="")
            li
              img(src="img/p7.jpg", alt="")
            li
              img(src="img/p8.jpg", alt="")
          p.tips
            span.title 对接水贝珠宝市场：
            |学员毕业后，由广东钻石商会组织学员参观、学习全国珠宝集散地—水贝珠宝钻石市场，对接广东钻石商会的采购资源。
          p.tips.
            学院名师荟萃，均是行业内的顶级大咖和行业的成功企业人。课堂教授经验积累与行业实践并举，将为华东地区的人才培养和行业促进交流起到积极的促进作用。

      //- 专家讲师团
      .zj-team
        .com-title1
          i.sline
          span 专家讲师团
        .con.clearfix
            .item.item-1
              .img
                img(src="img/u1.jpg", alt="")
              .con
                .title 徐步天
                .txt.
                  中南典当学院钟表类首席讲师、<br>
                  中国钟表协会专业培训组组长、<br>
                  中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                  名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                  年代等资料

                .btn
                  a.btn.seemore 查询信息
            .item.item-2
              .img
                img(src="img/u2.jpg", alt="")
              .title 雷雨春
              .txt.
                中国商业联合会洗染专家委员会理事、<br>
                浙江省洗染行业协会常务理事、<br>
                浙江省洗染服务消费鉴定委员会专家<br>
                名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
                顾问了解各大品牌的设计理念等资料


              .btn
                a.btn.seemore 查询信息
            .item.item-3
              .img
                  img(src="img/u3.jpg", alt="")
              .title 李旸
              .txt.
                中南典当学院钟表类首席讲师、<br>
                中国钟表协会专业培训组组长、<br>
                中国名贵钟表鉴定师职业资格培训课程首席鉴定讲师<br>
                名表资深专家，玩表20载，熟知各大小品牌款式、机芯、
                年代等资料


              .btn
                a.btn.seemore 查询信息
            .item.item-4
              .img
                  img(src="img/u4.jpg", alt="")
              .title 李嘉杰
              .txt.
                中国商业联合会洗染专家委员会理事、<br>
                浙江省洗染行业协会常务理事、<br>
                浙江省洗染服务消费鉴定委员会专家<br>
                名包资深护理专家，安杰利品牌创始人。各大品牌设计<br>
                顾问了解各大品牌的设计理念等资料


              .btn
                a.btn.seemore 查询信息

      //- gg
      .gg-bottom
        img(src="img/ggbottom.jpg", alt="", height="270")