extends ./shade/layout
block content
  .banner#dgd-ad 


  //- 主体
  .warp
    .w1200
      .tip-ga
        span.t
        .content
          span.item 第四期 钟表鉴定估价班 3月21日
          span.item 第四期 钟表鉴定估价班 3月21日
        a.btn.btn-bm(href="#",title="立即报名") 


      .colleg-nav
        span 当前位置：
        a(href="/") 首页
        |>
        a(href="/") 典当资讯
        |>
        span.cur 新闻详情
      .contaier.clearfix
        .main.new-detail
          h1.title 参加第八届中国电子商务十大牛商评选
          h5.sm-title            
            span.
              发布时间：2016-10-09              
            span.
              来源：搜狐                  
            span.
              阅读次数：580
          .new-info
            .con.
              据行业人士介绍，作为具备金融属性和货币属性的特殊商品，黄金本身确实具有成为融资交易品种的优势。

              比如在国外，很多投行和大型金矿企业都将黄金作为融资或套利的工具，实施黄金与美元之间的套息交易。不

              过在国内，黄金作为融资工具还主要局限于黄金租赁业务，多数是金矿、黄金加工企业与银行间进行这项操作。
          .txt
            p.
              去年中国已经超越印度跃居全球第一大黄金消费国。不过根据世界黄金协会最新发布的一份报告显示，在中国
              将黄金纯粹用于金融操作是需求的一种形式，也是影子银行的一小部分，这部分黄金在2013年年底总量可能达到
              1000吨，规模约430亿美元。换句话说，黄金回收已经像此前的融资铜以及融资矿一样成为一种融资手段，这说明
              大量进入中国的黄金并没有真正被满足消费需求。关键的是，随着近期国际金价和汇率的震荡，融资金可能带来的
              危机同样不可小视。据行业人士介绍，作为具备金融属性和货币属性的特殊商品，黄金本身确实具有成为融资交易
              品种的优势。比如在国外，很多投行和大型金矿企业都将黄金作为融资或套利的工具，实施黄金与美元之间的套息
              交易。不过在国内，黄金作为融资工具还主要局限于黄金租赁业务，多数是金矿、黄金加工企业与银行间进行这项
              操作。不过有期货商表示，一些其他企业现在也开始把黄金作为融资的工具，他们通过各种手段从银行借到黄金
            p.
              然后在上海黄金交易所的交易平台上将其卖出获得资金。“上海的黄金租赁融资成本一般在6%左右，而在其他
              地方最低能做到4%左右，远远低于市场融资成本，所以很多企业都会这么做！”针对这种现象，上海黄金交易所高
              层已经约谈了各商业银行，有消息称今年以来各银行的黄金回收租赁业务已经明显收紧，规模明显小于2013年同期
              。随着希腊援助谈判的离去，美国财政谈判陷成为市场新的关注焦点。美国国会两党在上一次的谈判中曾传出了积
              极信号，金价也曾受支持走高，不过本周以来似乎两党谈判再次遇到瓶颈。昨日美国参议院多数党领袖民主党里德
              表示民主党和共和党在如何避免即将来临的“财政悬崖”谈判中没有取得进展，同时路透社也报道称美国国会虽然在
              税收和支出问题取得了一些进展，但是距离达成实质协议仍有很长一段距离。美国两党谈判的僵持使得周二金价小
              幅回落，目前金价正在测试50日均线的支持力度。数据方面昨日公布的美国数据普遍利好，美国10月耐用品订单月
              率为0.0%，好于预期的-0.7%，核心耐用品订单月率为1.5%，也好于预期的-0.5%，同时美国11月里奇蒙德联储制
              造业指数和
            p.
              美国11月谘商会消费者信心指数也都利好，不过数据并未能对市场情绪有太大提振效果，市场因为目光主要聚
              焦在美国财政谈判上，基本上忽略了这些数据，而且就目前而言美联储方面也不太可能有太大举动，因此数据也并
              没有引发市场对于美联储货币政策的揣测。周三美国方面将会有10月新屋销售数据，不过从昨日耐用品订单等数据
              后市场的反应来看，日内的新屋销售数据也很可能被市场忽略，预计金价的走势将主要受到股市和市场情绪变化的
              主导。周二国际现货黄金价格收盘下跌0.40%，收于1745.06美元/盎司，COMEX12月期货黄金价格收盘下跌0.42%
          .new-share.
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>





        .side
          .side-box.side-gg
            a(href="#")
              img(src="img/side-gg.jpg", alt="")
          //- 热点推荐
          .side-box.side-hot.mt20
            .title
              i.icon.icon-hot
              span  热点推荐
            .con 
              ul
                - var arr = new Array(15);
                each item in arr
                  li
                    a(href="#").ellipsis
                      i.icon.point
                      |工商管理博士（DBA）、经济应用...
          
          .side-box.jb-teacher.mt20
            img(src="img/jb-teacher.jpg", alt="")
            .title 金牌讲师徐步天

    
