//- 底部
.foot
  .foot-nav
    .w1200
      a(href="/") 首页
      span |
      a(href="/") 钟表鉴定
      span |
      a(href="/") 名包鉴定
      span |
      a(href="/") 讲师团队
      span |
      a(href="/") 学员分享
      span |
      a(href="/") 典当资讯
      span |
      a(href="/") 关于我们
  .foot-con.w1200.clearfix
    .foot-logo-area.clearfix
      .foot-logo
        img(src="img/footLogo.png", alt="")
      .foot-info
        .title 深圳市点当圈文化传播有限公司
        .item 电话：0755-89306006  邮箱：jihertech@163.com
        .item 地址：深圳市龙岗区布吉街道吉华路268文化创意产业园D302
        .item 版权所有  粤ICP备16029980号    
    .foot-ewm
      dl
        dt
          img(src="img/ewm.png", alt="")
        dd  微信扫一扫立即关注

  .foot-link
    .w1200
      .foot-link-warp
        span 友情链接：
        a(href="#")
        a(href="#").
          单仁资讯集团 
        ||
        a(href="#").
          移动全网班 
        ||
        a(href="#").
          网络营销培训 
        ||
        a(href="#").
          单仁听杂志 
        ||
        a(href="#").
          牛商网 
        ||
        a(href="#").
          单仁学院 
        ||
        a(href="#").
          O2O培训 
        ||
        a(href="#").
          深圳广告公司
        ||
        a(href="#").
          移动营销课程
        ||
        a(href="#").
          电子商务培训
        ||
        a(href="#").
          全网

  .scrollTop
    .item.backTop
    a.item.qqLink

    .item.wx
    dl.item.tel
      dt
      dd.
        0755-
        89306006
