//- 头部
.head
  .head-top
    .w1200.clearfix
      .head-tip
        a(href="#")最新活动
        span |
        a(href="#")收藏本站
      .head-share
        a(href="#")
          i.icon.icon-1
          |典当学院腾讯微博
        a(href="")
          i.icon.icon-2
          |典当学院微博
        a(href="")
          i.icon.icon-3
          |典当学院微信

  .head-logo
    .w1200.clearfix
      a.logo(href="/")
        img(src="img/logo.png", alt="中南典当学院")
      span.logo-txt
        img(src="img/logo-txt.png",alt="中南典当学院,打造典当行业黄埔军校")
      .head-tel
        span.txt 服务热线：
        span.num 0755-89306006  
  .head-nav
    ul.w1200
    
      li.cur
        a(href="/") 首页
      li
        a(href="/") 钟表鉴定
      li
        a(href="/") 名包鉴定
      li
        a(href="/") 讲师团队
      li
        a(href="/") 学员分享
      li
        a(href="/") 典当资讯
      li
        a(href="/") 关于我们
        .erji
          a(href="#") 学院介绍          
          a(href="#") 发展历程
          a(href="#") 联系我们

