//- 头部
.head
  .head-top
    .head-tip
      a(href="#")最新活动
      span |
      a(href="#")收藏本站
    .head-share

  .head-logo
    a.logo(href="/")
      img(src="/img/logo.png", alt="")
    .head-tel
      span 服务热线：
      span 0755-89306006  
  .head-nav
    a(href="/") 首页
    a(href="/") 钟表鉴定
    a(href="/") 名包鉴定
    a(href="/") 讲师团队
    a(href="/") 学员分享
    a(href="/") 典当资讯
    a(href="/") 关于我们
      ul
        li
          a(href="#") 学院介绍
          a(href="#") 发展历程
          a(href="#") 联系我们

