<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui")
  meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
  title Document
  link(href="./scss/base.css", rel="stylesheet")
  link(href="./plugs/owl.carousel.min.css", rel="stylesheet")
  link(href="./plugs/owl.theme.default.css", rel="stylesheet")
  
body
  include header
  //==================================================
  block content
  //==================================================
  include footer
  script(src="./plugs/jquery.min.js")
  script(src="./plugs/owl.carousel.min.js")
  script(src="./js/common.js")